/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 6rem 0;
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--ifm-color-white);
  background-color: var(--ifm-color-primary-darkest);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
